/* --- Global Styles --- */
* {
  box-sizing: border-box;
}

:root {
  --spacing-xs: .5rem;
  --spacing-sm: 1rem;
  --spacing-md: 2rem;
  --spacing-lg: 4rem;

  --shadow-md: 0 0 8px -4px;

  --rounded-sm: .5rem;
  --rounded-full: 9999px;

  --color-black: #000;
  --color-greyscale-medium: #383838;
  --color-greyscale-light: #858585;
  --color-greyscale-extra-light: #b9b9b9;
  --color-white: #fff;

  --color-terminal-blue: #00316f;
  --color-terminal-blue-medium: #335a8c;
  --color-terminal-blue-light: #4d6f9a;
  --color-terminal-blue-extra-light: #8098b7;
  --color-terminal-blue-pale: #e6eaf1;

  --color-rose-pink: #dc1040;
  --color-rose-pink-medium: #e34066;
  --color-rose-pink-light: #ea708c;
  --color-rose-pink-extra-light: #f19fb3;
  --color-rose-pink-pale: #f8cfd9;

  --font-heading: "Andada Pro", "Times New Roman", Times, serif;
  --font-body: "Montserrat", Geneva, Verdana, sans-serif;

  /* Derived */

  --font-color-primary: var(--color-greyscale-medium);
  --font-color-secondary: var(--color-terminal-blue);
}

::selection {
  background: #e5e5e5;
}

body {
  display: flex;
  flex-direction: column;

  min-height: 100vh;
  margin: 0;
  padding: 0 var(--spacing-sm);

  font-family: var(--font-body);
  color: var(--font-color-primary);

  background-image: url(/static/root/assets/img/dots.png);
  background-size: 200px;
  background-attachment: fixed;
}

h1, h2, h3, h4, h5, h6, .header {
  font-family: var(--font-heading);
  color: var(--font-color-secondary);
}

a {
  color: var(--color-rose-pink);
  font-weight: bold;
}

a:hover, a:focus {
  text-decoration: none;
}

a.tertiary {
  display: inline-block;
  position: relative;

  margin: var(--spacing-xs) 0;

  text-decoration: none;
  font-weight: bold;
}

a.tertiary::after {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: currentColor;
}

/* --- Global Utility Classes --- */
.main-content {
  flex-grow: 1;

  margin: 0 auto;
  padding: var(--spacing-sm);
  border-left: 1px solid var(--color-black);
  border-right: 1px solid var(--color-black);

  width: 100%;
  max-width: 75rem;

  box-shadow: var(--shadow-md);
  background-color: var(--color-white);
}

@media screen and (min-width: 480px) {
  .main-content {
    padding: var(--spacing-md);
  }
}

.container {
  margin: var(--spacing-lg) auto 0 auto;
  max-width: 50rem;
}

.container:first-child {
  margin-top: 0;
}

.section-header {
  display: block;
  margin-top: var(--spacing-md);
  margin-bottom: var(--spacing-md);
}



/* --- Header Styles --- */
.header {
  display: flex;
  flex-direction: column;
  font-family: var(--font-heading);
}

.header .title {
  margin: var(--spacing-md) auto;
  width: 80%;
  max-width: 400px;
}

.header .title > svg {
  width: 100%;
  fill: var(--font-color-secondary);
}

.header .primary-nav {
  display: flex;
  justify-content: center;

  border-top: 1px solid var(--color-black);
  border-bottom: 1px solid var(--color-black);
}

.header .primary-nav ul {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  grid-column-gap: var(--spacing-sm);

  margin: 0;
  padding: 0;
}

.header .primary-nav li {
  display: inline-block;
}

.header .primary-nav li a {
  position: relative;
  display: inline-block;

  width: 100%;
  padding: var(--spacing-sm) var(--spacing-xs);
  border-top: 2px solid transparent;

  color: var(--font-color-primary);
  font-weight: bold;
  text-decoration: none;
  text-align: center;
}

.header .primary-nav li a::after {
  content: none;
  position: absolute;

  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  border-radius: var(--rounded-full);
  overflow: hidden;
  background-color: var(--color-rose-pink);
}

.header .primary-nav li a:hover::after,
.header .primary-nav li a:focus::after {
  content: "";
}
