/* --- Global Styles --- */
* {
  box-sizing: border-box;
}

:root {
  --spacing-xs: .5rem;
  --spacing-sm: 1rem;
  --spacing-md: 2rem;
  --spacing-lg: 4rem;

  --shadow-md: 0 0 8px -4px;
  --shadow-lg: 0 0 16px -4px ;

  --rounded-sm: .5rem;
  --rounded-full: 9999px;

  --color-black: #000;
  --color-greyscale-medium: #383838;
  --color-greyscale-light: #858585;
  --color-greyscale-extra-light: #b9b9b9;
  --color-white: #fff;

  --color-terminal-blue: #00316f;
  --color-terminal-blue-medium: #335a8c;
  --color-terminal-blue-light: #4d6f9a;
  --color-terminal-blue-extra-light: #8098b7;
  --color-terminal-blue-pale: #e6eaf1;

  --color-rose-pink: #dc1040;
  --color-rose-pink-medium: #e34066;
  --color-rose-pink-light: #ea708c;
  --color-rose-pink-extra-light: #f19fb3;
  --color-rose-pink-pale: #f8cfd9;

  --font-heading: "Andada Pro", "Times New Roman", Times, serif;
  --font-body: "Montserrat", Geneva, Verdana, sans-serif;

  /* Derived */

  --font-color-primary: var(--color-greyscale-medium);
  --font-color-secondary: var(--color-terminal-blue);
}

::selection {
  background: #e5e5e5;
}

body {
  display: flex;
  flex-direction: column;

  min-height: 100vh;
  margin: 0;
  padding: 0 var(--spacing-sm);

  font-family: var(--font-body);
  color: var(--font-color-primary);

  background-image: url(/static/root/assets/img/dots.png);
  background-size: 200px;
  background-attachment: fixed;
}

h1, h2, h3, h4, h5, h6, .header {
  font-family: var(--font-heading);
  color: var(--font-color-secondary);
}

a {
  color: var(--color-rose-pink);
  font-weight: bold;
}

a:hover, a:focus {
  text-decoration: none;
}

a.inverted {
  color: var(--color-black);
  text-decoration: none;
}

a.inverted:hover, a.inverted:focus {
  color: var(--color-rose-pink);
}

svg {
  width: 100%;
}

/* --- Global Utility Classes --- */
.content {
  position: relative;
  flex-grow: 1;

  margin: 0 auto;
  width: 100%;
  max-width: 75rem;

  background-color: var(--color-white);
}

.body-content {
  padding: var(--spacing-sm);
  border-left: 1px solid var(--color-greyscale-extra-light);
  border-right: 1px solid var(--color-greyscale-extra-light);

  box-shadow: var(--shadow-md);
}

@media screen and (min-width: 480px) {
  .body-content {
    padding: var(--spacing-md);
  }
}

.container {
  margin: var(--spacing-lg) auto 0 auto;
  max-width: 50rem;
}

.container:first-child {
  margin-top: 0;
}

.section-header {
  display: block;
  margin-top: var(--spacing-md);
  margin-bottom: var(--spacing-md);
}



/* --- Header Styles --- */
.header {
  position: sticky;

  top: 0;
  /* Expand to fill body padding */
  width: calc(100% + 2 * var(--spacing-sm));
  margin-left: calc(-1 * var(--spacing-sm));

  padding: 0 var(--spacing-sm);
  border-bottom: 1px solid var(--color-greyscale-extra-light);
  
  background-color: var(--color-white);
  z-index: 1;
}


@media screen and (min-width: 768px) {
  .header {
    border-bottom: none;
    background-color: transparent;
  }
}

.header .content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  
  padding: var(--spacing-xs) var(--spacing-sm);
}

@media screen and (min-width: 480px) {
  .header .content {
    padding-left: var(--spacing-md);
    padding-right: var(--spacing-md);
  }
}

@media screen and (min-width: 768px) {
  .header .content {
    border-left: 1px solid var(--color-greyscale-extra-light);
    border-right: 1px solid var(--color-greyscale-extra-light);  
  }
}

@media screen and (min-width: 768px) {
  .header .content::after {
    content: "";
   
    position: absolute;
   
    left: 0;
    right: 0;
    bottom: 0;
    height: 1px;
    margin: 0 var(--spacing-md);
    
    background: var(--color-greyscale-extra-light);
  }
}

.header .title {
  width: 80%;
  max-width: 175px;
}

.header .title a {
  display: block;
  height: 100%;
  fill: var(--font-color-secondary);
}

.header .primary-nav {
  display: flex;
  justify-content: center;
}

.header .primary-nav .icon-hamburger {
  width: 40px;
  fill: var(--font-color-primary);
}

@media screen and (min-width: 768px) {
  .header .primary-nav .icon-hamburger {
    display: none;
  }
}

.header .primary-nav .icon-hamburger #top-bar,
.header .primary-nav .icon-hamburger #bottom-bar {
  transform-origin: center;
  transition: all .5s;
}

.header .primary-nav.open .icon-hamburger #top-bar {
  transform: translateY(-2px) translateX(2px) rotate(-135deg);
}

.header .primary-nav.open .icon-hamburger #bottom-bar {
  transform: translateY(1.5px) translateX(2px) rotate(135deg);
}

.header .primary-nav .drawer {
  position: fixed;

  right: 0;
  left: 0;
  /* TODO: Fix this hack */
  top: 55px;
  bottom: 0;

  padding-left: 20%;

  background-color: rgba(0, 0, 0, 0);
  overflow: hidden;
  transition: background-color .5s;
}

.header .primary-nav.open .drawer {
  background: rgba(0, 0, 0, 0.3);
}

@media screen and (min-width: 768px) {
  .header .primary-nav .drawer,
  .header .primary-nav.open .drawer {
    position: static;
    padding: 0;
    background-color: transparent;
    overflow: visible;
    transition: none;
  }
}

.header .primary-nav ul {
  position: relative;
  height: 100%;
  left: 100%;

  margin: 0;
  padding: 0;
  border-left: 1px solid var(--color-greyscale-extra-light);
 
  background-color: #f1f1f1;
  
  box-shadow: none;
  transition: transform .5s;
}

.header .primary-nav.open ul {
  box-shadow: var(--shadow-lg) var(--color-black);
  transform: translateX(-100%);
}

@media screen and (min-width: 768px) {
  .header .primary-nav ul,
  .header .primary-nav.open ul {
    left: 0;

    /* Use grid to enforce equal width nav items */
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
    grid-column-gap: var(--spacing-sm);

    border-left: none;

    background-color: transparent;
    box-shadow: none;
    transform: none;
    transition: none;
  }
}

.header .primary-nav li {
  display: block;
  border-bottom: 1px dashed var(--color-greyscale-extra-light);
  background-color: var(--color-white);
}

.header .primary-nav li:last-child {
  border-bottom-style: solid;
}

@media screen and (min-width: 768px) {
  .header .primary-nav li {
    display: inline-block;
    border-width: 0;
  }
}

.header .primary-nav li a {
  display: inline-block;

  width: 100%;
  padding: var(--spacing-md) var(--spacing-sm);
}

@media screen and (min-width: 768px) {
  .header .primary-nav li a {
    padding: var(--spacing-sm) var(--spacing-xs);
    text-align: center;
  }
}
