/* --- Media Query Definitions --- */
@custom-media --tablet screen and (min-width: 480px);
@custom-media --desktop screen and (min-width: 768px);
@custom-media --large screen and (min-width: 1280px);

/* --- Global Styles --- */
* {
  box-sizing: border-box;
}

:root {
  /* Useful values */
  --spacing-xs: .5rem;
  --spacing-sm: 1rem;
  --spacing-md: 2rem;
  --spacing-lg: 3rem;

  --shadow-sm: 0 0 8px -4px;
  --shadow-md: 0 0 16px -4px;
  --shadow-lg: 0 0 18px 24px;

  --rounded-sm: .5rem;
  --rounded-full: 9999px;

  --z-nav: 2;

  --duration-short: .25s;
  --duration-standard: .5s;

  /* Colors */
  /* TODO: Refine and/or remove these */
  --color-black: #000;
  --color-greyscale-medium: #383838;
  --color-greyscale-light: #858585;
  --color-greyscale-extra-light: #b9b9b9;
  --color-white: #fff;

  --color-terminal-blue: #00316f;
  --color-terminal-blue-light: #4d6f9a;

  --color-goldenrod: #c38c09;

  --font-heading: "Courier Prime", "Times New Roman", Times, serif;
  --font-body: "Montserrat", Geneva, Verdana, sans-serif;

  /* Site configuration */
  --max-container-width: 75rem;
  --max-content-width: 50rem;
  --content-padding: var(--spacing-md);

  /* Derived */
  --font-color-primary: var(--color-greyscale-medium);
  --font-color-secondary: var(--color-terminal-blue);
  --font-color-link: var(--color-greyscale-medium);
  --font-color-link-hover: var(--color-goldenrod);

  /* Global Styles */
  font-family: var(--font-body);
  color: var(--font-color-primary);

  @media (--desktop) {
    --spacing-lg: 4rem;
  }
}

::selection {
  background: #e5e5e5;
}

@keyframes cycle-gradient {
  0% {
    opacity: 1;
  }
  
  100% {
    opacity: 0.2;
  }
}

body {
  position: relative;
  display: flex;
  min-height: 100vh;
  background-color: white;

  // Hack to prevent horizontal jump when scrollbar is visible
  // See: https://aykevl.nl/2014/09/fix-jumping-scrollbar
  @media (--desktop) {
    margin-right: calc(100% - 100vw);
    overflow-x: hidden;
  }

  &::before {
    content: "";
    position: fixed;

    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    background-image: linear-gradient(110deg,
      #ccd6e2,
      #fff 90%
    );
    background-size: 100%;

    mask-image: url(/static/root/assets/hex.png);
    mask-mode: luminance;
    mask-size: 250px;

    z-index: -1;
    animation: cycle-gradient 5s ease-in-out infinite alternate;

    @media (--desktop) {
      background-image: linear-gradient(110deg,
        #ccd6e2,
        #fff 60%
      );
      animation: cycle-gradient 15s ease-in-out infinite alternate;
    }
  }
}

h1, h2, h3, h4, h5, h6, .header {
  font-family: var(--font-heading);
}

h1, h2 {
  color: var(--font-color-secondary);
}

h1 {
  font-size: 1.8rem;

  @media (--desktop) {
    font-size: 2rem;
  }
}

a {
  color: var(--font-color-link);
  font-weight: bold;
  text-decoration: none;

  &:hover,
  &:focus {
    color: var(--font-color-link-hover);
  }
}

svg {
  width: 100%;
}

button {
  display: block;
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}
