/* --- Animations --- */

@keyframes cycle-gradient {
  0% {
    opacity: 1;
  }
  
  100% {
    opacity: 0.2;
  }
}

/* --- Global Styles --- */

* {
  box-sizing: border-box;
}

::selection {
  background: #e5e5e5;
}

body {
  position: relative;
  display: flex;
  min-height: 100vh;
  background-color: var(--color-white);

  &::before {
    content: "";
    position: fixed;

    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    background-size: 100%;
    z-index: -1;

    /*
    TODO: Find performant implementation for this animated background.
    It has been temporarily disabled due to very poor performance on firefox.
    -------
    background-image: linear-gradient(110deg,
      #ccd6e2,
      #fff 90%
    );

    mask-image: url(/static/root/assets/hex.png);
    mask-mode: luminance;
    mask-size: 250px;

    animation: cycle-gradient 5s ease-in-out infinite alternate;

    @media (--desktop) {
      background-image: linear-gradient(110deg,
        #ccd6e2,
        #fff 60%
      );
      animation: cycle-gradient 15s ease-in-out infinite alternate;
    }
    */
  }
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 2em;
  font-family: var(--font-heading);
}

h1, h2 {
  color: var(--font-color-secondary);
}

h1 {
  font-size: 1.8rem;

  @media (--desktop) {
    font-size: 2rem;
  }

  .breadcrumb + & {
    margin-top: 0;
  }
}

a {
  color: var(--font-color-link);
  font-weight: bold;
  text-decoration: none;

  cursor: pointer;

  &:hover,
  &:focus {
    color: var(--font-color-link-hover);
  }
}

svg {
  width: 100%;
}

button {
  display: block;
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

blockquote {
  border-left: 2px solid var(--color-greyscale-extra-light);
  padding: var(--spacing-sm) var(--spacing-sm) var(--spacing-sm) var(--spacing-md);
  margin: 0;

  background-color: #eee;

  font-style: italic;
}