.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--spacing-md);

  padding: var(--spacing-xs) var(--spacing-sm);

  background-color: var(--color-white);
  z-index: var(--z-header);

  @media (--large) {
    flex-direction: column;
    align-items: stretch;
    gap: 0;

    padding-top: 0;

    background-color: transparent;
  }

  .icon-logo-reversed {
    fill: var(--color-primary)
  }

  .icon-logo {
    fill: var(--color-primary);
    
    @media (--until-large) {
      max-width: 220px;
    }
  }
}

nav {
  display: flex;

  min-height: 100vh;

  background-color: rgb(from var(--color-white) r g b / 0.6);
  backdrop-filter: blur(5px);
  border-top: 1px solid var(--color-black);

  z-index: var(--z-nav);
  user-select: none;

  @media (--large) {    
    display: block;

    inset: auto;
    border-top: 0;
    min-height: 0;
    
    background-color: transparent;
    backdrop-filter: none;
  }

  &::before {
    @media (--until-large) {      
      content: "";
      position: absolute;

      inset: 0;

      background: #bababa; // [1]
          
      mask-image: url(/static/root/assets/grid.png);
      mask-mode: luminance;
      mask-position: center center;
      mask-size: 88px;
    }
  }

  ul, li {
    display: block;
  }

  ul {
    padding: var(--spacing-sm) 0;
    margin: auto;
  }

  li {
    margin: 0;
    padding: 0;
  }

  
  a {
    position: relative;
    display: inline-block;

    width: 100%;

    padding: var(--spacing-xs) var(--spacing-sm);

    font-family: var(--font-heading);
    font-size: 2rem;

    @media (--large) {
      font-size: 1.5rem;
      text-align: right;
    }

    &::before {
      @media (--large) {
        content: "";
        position: absolute;
  
        width: var(--line-width);
        inset: 0 0 0 auto;

        background: var(--color-primary);
      }
    }
  }
}