.header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--spacing-md);

  width: 100%;
  left: 0;

  border-bottom: 1px solid var(--color-black);
  padding: var(--spacing-xs) var(--spacing-sm);

  background-color: var(--color-white);

  z-index: var(--z-header);

  @media (--large) {
    position: sticky;
    flex-direction: column;
    align-items: stretch;
    gap: 0;

    top: var(--top-offset);
    max-width: 300px;
    border: none;

    background-color: transparent;
  }

  &-container {
    @at-root {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      height: 100%;
    }
  }

  .icon-logo-reversed {
    // width: 90px;
    fill: var(--color-terminal-blue)
  }

  .icon-logo {
    max-width: 220px;
    fill: var(--color-terminal-blue);

    @media (--large) {
      max-width: none;
    }
  }

  .cta.secondary {
    background-color: transparent;
    border-width: 3px;
  }

  a {
    display: block;
  }
}

nav {
  position: fixed;
  display: flex;

  inset: 4rem 0 0 0;

  background-color: rgba(255,255,255,0.8);
  backdrop-filter: blur(5px);

  overflow-x: hidden;
  z-index: var(--z-nav);
  user-select: none;


  @media (--large) {
    position: relative;
    display: block;

    inset: auto;
    // max-height: 0;

    background-color: transparent;
    backdrop-filter: none;
    transition: max-height var(--duration-standard);

    overflow: hidden;
  }

  ul, li {
    display: block;
    margin: 0;
    padding: 0;
  }

  ul {
    position: relative;
    padding: var(--spacing-sm) 0;
    margin: auto;
  }

  
  a {
    position: relative;
    display: inline-block;

    width: 100%;

    padding: var(--spacing-xs) var(--spacing-md) var(--spacing-xs) var(--spacing-sm);

    color: var(--font-color-secondary);
    font-family: var(--font-heading);
    font-size: 2rem;

    @media (--large) {
      font-size: 1.5rem;
      text-align: right;
    }

    &::before {
      @media (--large) {
        content: "";
        position: absolute;
  
        width: 3px;
        top: 0;
        bottom: 0;
        right: 0;
   
        background: currentColor;
      }
    }
  }
}