/* For main page layouts */
.main-content {
  display: flex;
  justify-content: center;
  flex-grow: 1;

  padding: var(--site-padding);
}

.main-content .inner {
  width: 100%;
  max-width: var(--max-container-width);

  border-left: 1px solid;
  border-right: 1px solid;
  border-color: var(--color-greyscale-extra-light);
  padding: var(--spacing-md) var(--spacing-sm);

  background-color: var(--color-white);
}

@media (--tablet) {
  .main-content .inner {
    padding: var(--spacing-md);
  }
}

.container {
  width: 100%;
  max-width: var(--max-content-width);
  margin: var(--spacing-md) auto 0 auto;
}

@media (--desktop) {
  .container {
    margin-top: var(--spacing-lg);
  }
}

.container:first-child {
  margin-top: 0;
}
