/* For main page layouts */
.main-content {
  --sidebar-width: 300px;

  display: flex;
  flex-direction: column;
  gap: var(--spacing-md);

  width: 100%;

  padding: 0 var(--spacing-md);

  @media (--large) {
    flex-direction: row;
    padding: 0 var(--spacing-lg);
  }

  .floating {
    @media (--large) {
      position: sticky;
      flex-basis: var(--sidebar-width);

      top: var(--top-offset);

      margin-left: auto;
      margin-top: var(--top-offset);
    }
  }

  .fixed {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    margin: var(--top-offset) auto 0;
    
    max-width: calc(var(--max-content-width) + var(--sidebar-width));

    @media (--large) {
      margin-left: 0;
    }
  }
}

.container {
  flex-shrink: 1;
  margin: 0 auto var(--spacing-md) 0;

  width: 100%;
  max-width: var(--max-content-width);

  & > :first-child {
    margin-top: 0;
  }
}
