/* For main page layouts */
.main-content {
  --sidebar-width: 300px;

  display: flex;
  flex-direction: column;
  gap: var(--spacing-md);

  width: 100%;

  padding: 0 var(--spacing-sm);

  @media (--large) {
    flex-direction: row;
    padding: 0 var(--spacing-lg);
  }

  .floating {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;

    background-color: var(--color-white);
    z-index: var(--z-header);

    @media (--large) {
      position: sticky;
      flex-basis: var(--sidebar-width);
      flex-shrink: 0;

      top: 0;
      max-height: 100vh;

      margin-left: auto;
      padding-top: var(--top-offset);
      border-left: 1px solid var(--color-black);
      border-right: 1px solid var(--color-black);
    }

    // 1. Hard code color of grid lines since this is not a theme colour
    &::before {
      @media (--large) {   
        content: "";
        position: absolute;
        
        inset: 0;
        
        background: var(--color-hairline); // [1]
        z-index: -1;
        
        mask-image: url(/static/root/assets/grid.png);
        mask-mode: luminance;
        mask-position: center center;
        mask-size: 88px;
      }
    }
  }

  .fixed {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    margin: var(--top-offset) auto 0;
    
    width: 100%;
    max-width: calc(var(--max-content-width) + var(--sidebar-width));

    @media (--large) {
      margin-left: 0;
    }
  }
}

.container {
  flex-shrink: 1;
  margin: 0 auto var(--spacing-md) auto;

  width: 100%;
  max-width: var(--max-content-width);

  @media (--large) {
    margin-left: 0;
  }

  & > :first-child {
    margin-top: 0;
  }
}

.hero {
  position: relative;

  @media (--until-large) {
    margin: 2px calc(-1 * var(--spacing-sm));
    padding: var(--spacing-md) var(--spacing-sm);
    border-top: 1px solid var(--color-black);
    border-bottom: 1px solid var(--color-black);
  }

  & > .inner {
    max-width: var(--max-content-width);

    @media (--until-large) {
      margin: 0 auto;
    }
  }
  
  &::before {
    @media (--until-large) {       
      content: "";
      position: absolute;
      inset: 0;
      
      background: var(--color-hairline); // [1]
      z-index: -1;
    
      mask-image: url(/static/root/assets/grid.png);
      mask-mode: luminance;
      mask-position: center center;
      mask-size: 88px;
    }
  }
}