/* Utility classes (CREATE SPARINGLY) */
@media screen and (min-width: 768px) {
  .mobile {
    display: none !important;
  }
}

/* NOTE: Use max-width here to hide on small screens */
@media screen and (max-width: 768px) {
  .desktop {
    display: none !important;
  }
}

/* Generic Component Styles */
.primary,
.secondary {
  display: block;

  margin: var(--spacing-md) 0;
  padding: var(--spacing-sm);
  border-radius: var(--rounded-sm);

  font-weight: bold;
  text-decoration: none;
  text-align: center;

  cursor: pointer;
  transition: all var(--duration-short);
}

@media screen and (min-width: 768px) {
  .primary,
  .secondary {
    margin: var(--spacing-sm) 0;
  }  
}

.primary {
  background-color: var(--color-terminal-blue-light);
  color: var(--color-white);
}

.primary:hover,
.primary:focus {
  background-color: var(--color-rose-pink-medium);
}

.secondary {
  border: 2px solid var(--color-terminal-blue);
  background-color: var(--color-white);
  color: var(--color-terminal-blue);
}

.secondary:hover,
.secondary:focus {
  border-color: var(--color-rose-pink);
  color: var(--color-rose-pink)
}

.header-with-cta {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
