/* Utility classes (CREATE SPARINGLY) */
@media (--large) {
  .mobile {
    display: none !important;
  }
}

@media (--desktop) {
  .until-tablet {
    display: none !important;
  }
}

/* NOTE: Use max-width here to hide on small screens */
@media screen and (max-width: 1280px) {
  .desktop {
    display: none !important;
  }
}

@media screen and (max-width: 768px) {
  .tablet {
    display: none !important;
  }
}


/* Generic Component Styles */
.cta-container {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-sm);

  margin: var(--spacing-sm) 0;

  @media (--desktop) {
    flex-direction: row;
  }

  .primary,
  .secondary,
  .tertiary {
    flex-grow: 1;
  }
}

.primary,
.secondary,
.tertiary {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: var(--spacing-sm);
  border-radius: var(--rounded-sm);

  font-weight: bold;
  text-decoration: none;
  text-align: center;
  user-select: none;

  cursor: pointer;
}

.primary {
  background-color: var(--color-terminal-blue);
  color: var(--color-white);

  &:hover,
  &:focus {
    background-color: var(--color-goldenrod);
    color: var(--color-white);
  }
}

.secondary {
  border: 2px solid var(--color-terminal-blue);
  background-color: var(--color-white);
  color: var(--color-terminal-blue);

  &:hover,
  &:focus {
    border-color: var(--color-goldenrod);
    color: var(--color-goldenrod)
  }
}

.tertiary {
  color: var(--color-terminal-blue);

  &:hover,
  &:focus {
    color: var(--color-goldenrod);
  }
}

.header-with-cta {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
