/* Utility classes (CREATE SPARINGLY) */
@media (--desktop) {
  .mobile {
    display: none !important;
  }
}

/* NOTE: Use max-width here to hide on small screens */
@media screen and (max-width: 768px) {
  .desktop {
    display: none !important;
  }
}

/* Generic Component Styles */
.primary,
.secondary {
  display: block;

  margin: var(--spacing-md) 0;
  padding: var(--spacing-sm);
  border-radius: var(--rounded-sm);

  font-weight: bold;
  text-decoration: none;
  text-align: center;

  cursor: pointer;
  transition: all var(--duration-short);

  @media (--desktop) {
    margin: var(--spacing-sm) 0;
  }
}

.primary {
  background-color: var(--color-terminal-blue-light);
  color: var(--color-white);

  &:hover,
  &:focus {
    background-color: var(--color-goldenrod);
  }
}

.secondary {
  border: 2px solid var(--color-terminal-blue);
  background-color: var(--color-white);
  color: var(--color-terminal-blue);

  &:hover,
  &:focus {
    border-color: var(--color-goldenrod);
    color: var(--color-goldenrod)
  }
}

.header-with-cta {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
