:root {
  /* Useful values */
  --spacing-xs: .5rem;
  --spacing-sm: 1rem;
  --spacing-md: 2rem;
  --spacing-lg: 3rem;

  --shadow-sm: 0 0 8px -4px;
  --shadow-md: 0 0 16px -4px;
  --shadow-lg: 0 0 18px 24px;

  --rounded-sm: .5rem;
  --rounded-full: 9999px;

  --z-header: 3;
  --z-nav: 2;

  --duration-short: .25s;
  --duration-standard: .5s;

  /* Colors */
  /* TODO: Refine and/or remove these */
  --color-black: #000;
  --color-greyscale-medium: #383838;
  --color-greyscale-light: #858585;
  --color-greyscale-extra-light: #b9b9b9;
  --color-greyscale-faded: #e8e8e8;
  --color-white: #fff;

  --color-terminal-blue: #00316f;
  --color-terminal-blue-light: #4d6f9a;

  --color-goldenrod: #c38c09;

  --font-heading: "Courier Prime", "Times New Roman", Times, serif;
  --font-body: "Montserrat", Geneva, Verdana, sans-serif;

  /* Site configuration */
  --max-container-width: 75rem;
  --max-content-width: 50rem;
  --content-padding: var(--spacing-md);

  /* Derived */
  --font-color-primary: var(--color-greyscale-medium);
  --font-color-secondary: var(--color-terminal-blue);
  --font-color-link: var(--color-greyscale-medium);
  --font-color-link-hover: var(--color-goldenrod);

  /* Global Styles */
  font-family: var(--font-body);
  color: var(--font-color-primary);
}