/* --- Media Query Definitions --- */
@custom-media --tablet screen and (min-width: 480px);
@custom-media --until-tablet screen and (max-width: 479px);

@custom-media --desktop screen and (min-width: 768px);
@custom-media --until-desktop screen and (max-width: 767px);

@custom-media --large screen and (min-width: 1280px);
@custom-media --until-large screen and (max-width: 1279px);

:root {
  /* Useful values */
  --spacing-xs: .5rem;
  --spacing-sm: 1rem;
  --spacing-md: 2rem;
  --spacing-lg: 3rem;

  --rounded-sm: .5rem;
  --rounded-full: 9999px;

  --z-header: 2;

  --duration-short: .25s;
  --duration-standard: .5s;

  /* Colors */
  --color-black: #000;
  --color-white: #f0f0f0;

  --color-primary: #4b4b4b;
  --color-accent: #a92801;
  
  // To be used to separate elements. Should NEVER be used for a display color
  --color-hairline: #c4c4c4;

  --font-heading: "Courier Prime", "Times New Roman", Times, serif;
  --font-body: "Montserrat", Geneva, Verdana, sans-serif;

  --line-width: 3px;

  /* Site configuration */
  --max-content-width: 50rem;
  --content-padding: var(--spacing-md);
  --top-offset: 4.125rem;

  /* Derived */
  --font-color-primary: var(--color-primary);
  --font-color-link: var(--color-primary);
  --font-color-link-hover: var(--color-accent);

  /* Global Styles */
  font-family: var(--font-body);
  color: var(--font-color-primary);

  @media (--large) {
    --top-offset: 10rem;
  }
}

@media (--large) {
  .mobile {
    display: none !important;
  }
}

@media (--desktop) {
  .until-tablet {
    display: none !important;
  }
}

/* NOTE: Use max-width here to hide on small screens */
@media screen and (max-width: 1280px) {
  .desktop {
    display: none !important;
  }
}

@media screen and (max-width: 768px) {
  .tablet {
    display: none !important;
  }
}