# Python files
.venv/
__pycache__

# Environment files
.env
.env.*
!.env.*.example

# Production files
db.sqlite3

# Yarn
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
