<div class="container">
  <div class="header-with-cta">
    <h2>Stuff I've written</h2>

    {% if articles.has_more %}
      <div class="tablet">
        <a class="secondary" href="{% url "root.articles" %}">View all articles</a>
      </div>
    {% endif %}
  </div>

  {% include "root/articles/list.html" with articles=articles.list %}

  {% if projects.has_more %}
    <div class="until-tablet">
      <a class="secondary" href="{% url "root.articles" %}">View all articles</a>
    </div>
  {% endif %}
</div>