{% extends "root/base.html" %}

{% load static %}

{% block head.title %}
  Home | Moeka Kiryu
{% endblock head.title %}

{% block head.styles %}
  <link rel="stylesheet" href="{% static 'root/css/components.css' %}">
{% endblock head.styles %}

{# Body #}
{% block content %}
  <div class="container">
    <h1 style="text-align: center;">Raymond Lewandowski</h1>
  </div>
  {% include "root/home/about.html" %}
  {% include "root/home/projects.html" %}
  {% include "root/home/articles.html" %}
{% endblock content %}