{% extends "root/global/base.html" %}

{% load static %}

{% block head.title %}
  Page Title
{% endblock head.title %}

{% block head.styles %}
{% endblock head.styles %}

{# Body #}
{% block content %}
  {# --- About Me --- #}
  <div class="container">
    <h2 class="section-header">Who am I?</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam iaculis pulvinar ex, in rhoncus magna aliquet vel. Proin sit amet nulla a mi volutpat consequat.</p>
  </div>

  {# --- Recent Articles / Blog ---#}
  <div class="container">
    <h2 class="section-header">Latest Articles</h2>
  </div>
{% endblock content %}