{% extends "root/base.html" %}

{% load static %}

{% block head.title %}Who am I?{% endblock head.title %}

{# Body #}
{% block content %}
  <div class="container">
    <h1 class="section-header">Who am I?</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam iaculis pulvinar ex, in rhoncus magna aliquet vel. Proin sit amet nulla a mi volutpat consequat.</p>
  </div>

  {% include "root/home/projects.html" %}
  {% include "root/home/articles.html" %}
{% endblock content %}
