<div class="container">
  <div class="header-with-cta">
    <h2>Stuff I've made</h2>
    
    {% if projects.has_more %}
      <div class="tablet">
        <a class="cta tertiary" href="{% url "root.projects" %}">View all projects</a>
      </div>
    {% endif %}
  </div>

  <div class="scroll-container" data-component="ScrollContainer">
    <div
      id="project-scroll-container"
      class="viewport"
      tabindex="0"
      data-element="ScrollContainer.viewport"
    >
      <div class="content" data-element="ScrollContainer.content">
        <div class="project-list">
          {% for project in projects.list %}
            {% include "root/project/crosslink.html" %}
          {% endfor %}
        </div>
      </div>
    </div>
    <div
      class="controls"
    >
      <button
        class="back-button"
        aria-label="back"
        data-element="ScrollContainer.backButton"
      >
        {% include "root/icons/arrow-left.svg" %}
      </button>
      <div
        class="track"
        data-element="ScrollContainer.track"
      >
        <div
          class="thumb"
          aria-label="thumb"
          role="scrollbar"
          aria-controls="project-scroll-container"
          aria-orientation="horizontal"
          aria-valuenow="0"
          data-element="ScrollContainer.thumb"
        ></div>
      </div>
      <button
        class="forward-button"
        aria-label="forward"
        data-element="ScrollContainer.forwardButton"
      >
        {% include "root/icons/arrow-right.svg" %}
      </button>
    </div>
  </div>

  <div class="until-tablet">
    <a class="cta secondary" href="{% url "root.projects" %}">View all projects</a>
  </div>
</div>