<div class="container">
  <div class="section-header">
    <h2>Stuff I've made</h2>
    
    {% if projects.has_more %}
      <div class="desktop">
        <a class="secondary" href="{% url "root.projects" %}">View all projects</a>
      </div>
    {% endif %}
  </div>

  {% include "root/projects/list.html" with projects=projects.list%}

  {% if projects.has_more %}
    <div class="mobile">
      <a class="secondary" href="{% url "root.projects" %}">View all projects</a>
    </div>
  {% endif %}
</div>