.article-list {
  .article {
    border-top: 1px dashed var(--color-primary);
    padding-block: var(--spacing-sm) var(--spacing-lg);
  }
}

.project-list {
  display: grid;
  grid-auto-flow: column;

  .project {
    flex-direction: column;
    width: 200px;
    max-width: 75vw;
    padding-inline: var(--spacing-sm);
    border-right: 1px dashed var(--color-primary);

    @media (--tablet) {
      width: 350px;
      flex-direction: row;
    }

    &:first-child {
      margin-left: calc(-1 * var(--spacing-sm));
    }

    &:last-child {
      border-right: none;
    }
  }
}

.project-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--spacing-md) var(--spacing-sm);

  @media (--desktop) {
    grid-template-columns: 1fr 1fr;
  }

  .project {
    align-items: start;

    .image-container {
      flex-basis: 30%;
    }

    .details {
      @media (--until-desktop) {
        align-self: center;
      }
    }

    &.featured {
      order: -1;
      padding-block: var(--spacing-sm);
      border-bottom: var(--line-width) dashed var(--color-accent);
      
      @media (--desktop) {
        order: unset;
        grid-column: 1 / 3;
        border-top: var(--line-width) dashed var(--color-accent);
      }

      .details {
        align-self: center;
      }

      .image-container {
        @media (--until-desktop) {
          flex-basis: 40%;
        }
      }
    }
  }
}

.cta-container {
  display: flex;
  gap: var(--spacing-sm);
}
