.article, .project {
  display: flex;
  gap: var(--spacing-sm);

  margin-block: 0.25rem;

  font-weight: unset;

  @media (--desktop) {
    align-items: flex-start;
  }

  &:hover, &:focus {
    color: inherit;

    .image-container {
      transform: translateY(-.25rem);
    }

    .read-more {
      color: var(--color-accent);
    }
  }

  .image-container {
    flex: 0 0 40%;
    aspect-ratio: 1 / 1;

    background-size: contain;
    background-repeat: no-repeat;

    transition: transform var(--duration-short), filter var(--duration-short);
  }

  .title {
    display: block;
    position: relative;
  }

  .name, .date {
    display: block;
    margin: 0;
    
    @media (--tablet) {
      display: inline-block;
    }
  }

  .date {
    display: flex;
    align-items: center;
    padding-block: var(--spacing-xs);

    &::after {
      content: "";
      flex-grow: 1;

      height: var(--line-width);
      border-radius: var(--rounded-full);
      margin-left: var(--spacing-sm);

      background-color: var(--color-primary);
      overflow: hidden;
    }
  }

  .details {
    flex-grow: 1;
  }

  .read-more {
    font-weight: bold;
  }
}

.project {
  svg {
    .accent {
      stroke: var(--color-primary);
      transition: stroke var(--duration-short);
    }
  }

  &:hover {
    svg {
      .accent {
        stroke: var(--color-accent);
      }
    }
  }

   &.active {
    @media (--until-desktop) {
      svg {
        .accent {
          stroke: var(--color-accent);
        }
      }
    }
   }
}