{% extends "www/base.html" %}

{% block content %}
  <div class="hero hero-landing">
    <div class="inner">
      {% include "www/breadcrumb.html" %}
      <h1>All the stuff I've written</h1>
      <p>
        Mostly opinion pieces, but also write&#8209;ups about anything and everything I
        happen to find interesting at the time.
      </p>
      </div>
  </div>
  <div class="container">
    <div class="article-list">
      {% for article in articles %}
        {% include "www/article/crosslink.html" %}
      {% endfor %}
    </div>
  </div>
{% endblock content %}