.article-list {
  .crosslink {
    border-bottom: 1px dashed var(--color-primary);
    padding-block: var(--spacing-sm);

    &:last-child {
      border-bottom: none;
    }
  }
}

.project-list {
  display: grid;
  grid-auto-flow: column;
  margin-inline: calc(-1 * var(--spacing-sm));

  .crosslink {
    flex-direction: column;
    width: 200px;
    max-width: 75vw;
    padding-inline: var(--spacing-sm);
    border-right: 1px dashed var(--color-primary);
    
    @media (--tablet) {
      width: 350px;
      flex-direction: row;
    }

    &:last-child {
      border-right: none;
    }
  }
}

.project-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--spacing-sm);

  @media (--desktop) {
    grid-template-columns: 1fr 1fr;
  }

  .crosslink {
    align-items: center;

    &.featured {
      padding-block: var(--spacing-sm);
      border-block: 1px dashed var(--color-primary);
      
      @media (--desktop) {
        grid-column: 1 / 3;
      }
    }
  }
}

.cta-container {
  display: flex;
  gap: var(--spacing-sm);
}
