.crosslink {
  display: flex;
  gap: var(--spacing-sm);

  font-weight: normal;

  @media (--desktop) {
    align-items: flex-start;
  }

  &:hover, &:focus {
    color: inherit;

    .image-container {
      transform: translateY(-.25rem);
      box-shadow: 0px 5px 9px -8px var(--color-black);
    }

    .read-more {
      color: var(--color-accent);
    }
  }

  .image-container {
    flex: 0 0 40%;
    aspect-ratio: 1 / 1;

    margin-top: 0.25rem;
    background-size: contain;
    background-repeat: no-repeat;

    transition: transform var(--duration-short), box-shadow var(--duration-short);
  }

  .name, .date {
    display: block;
    margin: 0;
    
    @media (--tablet) {
      display: inline-block;
    }
  }

  .date {
    @media (--until-tablet) {
      font-style: italic;
    }
    &::before {
      @media (--tablet) {
        content: "|";
        padding-inline: var(--spacing-xs);
      }
    }
  }

  .description {
    font-size: .875rem;
  }

  .read-more {
    font-weight: bold;
  }
}