.header {
  height: 100%;
  min-height: calc(100vh - 2 * var(--spacing-md));

  .inner {
    position: sticky;
  
    margin: 0 auto;
    padding: var(--spacing-sm);
    
    top: 50%;
    width: 100%;
    min-width: 250px;
    max-width: 500px;
  
    background-color: var(--color-white);
    box-shadow: var(--shadow-lg) var(--color-white);
  
    transform: translateY(-50%);

    svg {
      fill: var(--color-terminal-blue);
    }
  }

  .breadcrumb {
    display: flex;
    align-items: baseline;

    padding: var(--spacing-xs) var(--spacing-sm);

    font-family: var(--font-heading );
    font-weight: bold;
    font-size: 2rem;

    span {
      display: inline-block;
    }

    .name {
      padding-left: var(--spacing-sm);
    }
  }

  div.breadcrumb {
    color: var(--font-color-primary);
    font-weight: normal;

    svg {
      fill: var(--font-color-primary);
    }
  }

  a.breadcrumb {
    color: var(--font-color-secondary);

    &:hover,
    &:focus {
      color: var(--font-color-link-hover)
    }
  }


  .icon-elbow,
  .icon-elbow-light {
    width: 2rem;
    margin-bottom: 5px; // Manual alignment
  }
}