.header {
  position: fixed;

  top: 0;
  left: 0;
  width: 100%;

  padding: 0 calc(var(--spacing-sm) + var(--spacing-md));

  background-color: var(--color-white);
  box-shadow: var(--shadow-lg) var(--color-white);

  z-index: var(--z-nav);

  @media (--tablet) {
    padding: 0 calc(2 * var(--spacing-md));
  }

  @media (--large) {
    position: sticky;

    top: 50%;

    background-color: transparent;
    box-shadow: none;

    transform: translateY(-50%);
  }

  .inner {
    display: flex;
    align-items: center;

    border-bottom: 1px solid var(--color-terminal-blue);
    padding: var(--spacing-sm) 0;
    margin: 0 auto;

    width: 100%;
    max-width: var(--max-content-width);

    @media (--large) {
      flex-direction: column;
      align-items: flex-start;

      border: none;
      padding: var(--spacing-sm);

      min-width: 250px;
      max-width: 500px;

      background-color: var(--color-white);
      box-shadow: var(--shadow-lg) var(--color-white);
    }

    a > span {
      display: block;
    }
    svg {
      display: block;
      fill: var(--color-terminal-blue);
    }
  }

  .home-link {
    width: 100%;
  }

  .breadcrumb {
    display: flex;
    align-items: baseline;

    font-family: var(--font-heading );
    font-weight: bold;
    font-size: 1.5rem;

    @media (--large) {
      padding: var(--spacing-xs) var(--spacing-sm);
      font-size: 2.2rem;
    }

    span {
      display: inline-block;
    }

    .name {
      padding-left: 8px;
    }
  }

  div.breadcrumb {
    color: var(--font-color-primary);
    font-weight: normal;

    svg {
      fill: var(--font-color-primary);
    }
  }

  a.breadcrumb {
    color: var(--font-color-secondary);
    font-weight: normal;

    @media (--large) {
      font-weight: bold;
    }

    &:hover,
    &:focus {
      color: var(--font-color-link-hover)
    }
  }

  .icon-logo-small {
    max-width: 90px;
  }

  .icon-logo {
    max-width: 240px;

    @media (--large) {
      max-width: none;
    }
  }

  .icon-elbow,
  .icon-elbow-light {
    width: 2rem;
  }
}