/* Styles for the main header */
.header {
  position: sticky;

  top: 0;
  display: flex;
  justify-content: center;

  padding: var(--site-padding);
  border-bottom: 1px solid var(--color-greyscale-extra-light);
 
  background-color: var(--color-white);
  z-index: var(--z-nav);
}

@media (--desktop) {
  .header {
    border-bottom: none;
    background-color: transparent;
  }
}

.header .inner {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  max-width: var(--max-container-width);
  
  padding: var(--content-padding);
  padding-top: var(--spacing-xs);
  padding-bottom: var(--spacing-xs);

  background-color: var(--color-white);
}

@media (--desktop) {
  .header .inner {
    border-left: 1px solid;
    border-right: 1px solid;
    border-color: var(--color-greyscale-extra-light);
  }
}

@media (--desktop) {
  .header .inner::after {
    content: "";
    position: absolute;
  
    left: 0;
    right: 0;
    bottom: 0;
    height: 1px;

    margin: var(--content-padding);
    margin-top: 0;
    margin-bottom: 0;
  
    background-color: var(--color-greyscale-extra-light);
  }
}

.header .logo span {
  display: inline-block;
}

.header .icon-logo {
  fill: var(--font-color-secondary);
  max-width: 175px;
  vertical-align: bottom;
}

.header .icon-logo-small {
  fill: var(--font-color-secondary);
  max-width: 75px;
  vertical-align: bottom;
}

.header .icon-hamburger {
  fill: var(--font-color-primary);
  max-width: 40px;
  vertical-align: bottom;
}

/* Nav */
.header .primary-nav .icon-hamburger #top-bar,
.header .primary-nav .icon-hamburger #bottom-bar {
  transform-origin: center;
  transition: all var(--duration-standard);
}

.header .primary-nav.open .icon-hamburger #top-bar {
  transform: translateY(-2px) translateX(2px) rotate(-135deg);
}

.header .primary-nav.open .icon-hamburger #bottom-bar {
  transform: translateY(1.5px) translateX(2px) rotate(135deg);
}

.header .primary-nav .splash {
  position: fixed;

  top: 57px;
  left: 0;
  right: 0;
  bottom: 0;

  padding-left: 20%;

  background-color: transparent;
  
  transition: background-color var(--duration-standard);
}

.header .primary-nav.open .splash {
  background-color: rgba(0, 0, 0, 0.3);
}

@media (--desktop) {
  .header .primary-nav .splash {
    position: static;
    padding: 0;
    background: var(--color-white);
  }
}

.header .primary-nav .nav-list {
  position: relative;
  display: grid;
  grid-auto-flow: row;
  grid-auto-columns: 1fr;
  align-content: start;

  left: 100%;
  height: 100%;

  padding: 0;
  margin: 0;

  background-color: #f1f1f1;
  transition: transform var(--duration-standard);
}

.header .primary-nav.open .nav-list {
  box-shadow: var(--shadow-md);
  transform: translateX(-100%);
}

@media (--desktop) {
  .header .primary-nav .nav-list {
    grid-auto-flow: column;
    gap: var(--spacing-sm);

    left: 0;

    background-color: var(--color-white);
    box-shadow: none;
    transform: none;
  }
}

.header .primary-nav .nav-item {
  display: block;
}

.header .primary-nav .nav-item a {
  display: block;

  padding: var(--spacing-md) var(--spacing-sm);
  border-bottom: 1px dashed var(--color-greyscale-extra-light);

  background-color: var(--color-white);
}

@media (--desktop) {
  .header .primary-nav .nav-item a {
    padding: var(--spacing-sm) var(--spacing-xs);
    border: none;
    text-align: center;
  }
}
