<h2>Interested?</h2>
<p>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque hendrerit
  tempor metus, ut mattis libero maximus iaculis. Donec sed auctor risus. Aenean
  venenatis gravida nisi vitae pulvinar. Ut elementum et quam a dapibus. Vivamus
  dignissim sollicitudin fermentum. Aenean ac tincidunt eros, eget rutrum leo.
  Phasellus vel dui non odio pulvinar tincidunt. Nullam efficitur fringilla
  sollicitudin. Morbi at lacinia nunc.
</p>
<div class="cta-container">
  <a class="cta primary" href="#">Get in touch!</a>
</div>