{% extends "root/base.html" %}

{% load static %}

{% block head.styles %}
  <link rel="preload" href="{% static 'root/css/resume.min.css' %}" as="style">
  <link rel="stylesheet" type="text/css" href="{% static "root/css/resume.min.css" %}">
{% endblock head.styles %}

{% block content %}
  <div class="hero hero-landing">
    <div class="inner">
      <h1>Professional Experience</h1>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque hendrerit
        tempor metus, ut mattis libero maximus iaculis. Donec sed auctor risus.
        Aenean venenatis gravida nisi vitae pulvinar. Ut elementum et quam a
        dapibus.
      </p>
    </div>
  </div>

  {% include "root/resume/timeline.html" %}

  <div class="hire-me">
    <div class="container">
      <h2>Have an opening?</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque hendrerit
        tempor metus, ut mattis libero maximus iaculis. Donec sed auctor risus. Aenean
        venenatis gravida nisi vitae pulvinar. Ut elementum et quam a dapibus. Vivamus
        dignissim sollicitudin fermentum. Aenean ac tincidunt eros, eget rutrum leo.
        Phasellus vel dui non odio pulvinar tincidunt. Nullam efficitur fringilla
        sollicitudin. Morbi at lacinia nunc.
      </p>
    </div>
    <div class="container">
      <a class="cta primary" href="#">Get in touch!</a>
    </div>
  </div>
{% endblock content %}