{% extends "root/base.html" %}

{% load static %}

{% block head.styles %}
  <link rel="preload" href="{% static 'root/css/resume.min.css' %}" as="style">
  <link rel="stylesheet" type="text/css" href="{% static "root/css/resume.min.css" %}">
{% endblock head.styles %}

{% block head.title %}Hire me!{% endblock head.title %}

{% block content %}
  <div class="container">
    <h1>Hire me!</h1>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque hendrerit
      tempor metus, ut mattis libero maximus iaculis. Donec sed auctor risus.
      Aenean venenatis gravida nisi vitae pulvinar. Ut elementum et quam a
      dapibus.
    </p>
  </div>

  {% include "root/resume/timeline.html" %}

  <div class="container">
    <div class="hire-me">
      <h2>Interested?</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque hendrerit
        tempor metus, ut mattis libero maximus iaculis. Donec sed auctor risus. Aenean
        venenatis gravida nisi vitae pulvinar. Ut elementum et quam a dapibus. Vivamus
        dignissim sollicitudin fermentum. Aenean ac tincidunt eros, eget rutrum leo.
        Phasellus vel dui non odio pulvinar tincidunt. Nullam efficitur fringilla
        sollicitudin. Morbi at lacinia nunc.
      </p>
      <div class="cta-container left">
        <a class="cta primary" href="#">Get in touch!</a>
      </div>
    </div>
  </div>{% endblock content %}