{% extends "root/base.html" %}

{% load static %}

{% block head.styles %}
  <link rel="preload" href="{% static 'root/css/resume.min.css' %}" as="style">
  <link rel="stylesheet" type="text/css" href="{% static "root/css/resume.min.css" %}">
{% endblock head.styles %}

{% block content %}
  <div class="hero hero-landing">
    <div class="inner">
      <h1>Professional Experience</h1>
      <p>
        I've been working in web development for ~10 years, and have been
        programming in some capacity for 5 years beyond that.
      </p>
    </div>
  </div>

  <div class="container">
    <h2>Toolkit</h2>
      <div>
        <p>
          I believe in using the right tools for the right job, so actively
          train to avoid getting pigeonholed into one set stack. Over my career
          I've worked with a variety of frameworks and platforms, listed below.
        </p>
        <p>
          When programming for fun, I really love using languages/systems that
          I don't use in day-to-day work. Usually this ends up being small
          scripts in Python or C, but can really include anything I feel like
          at the time.
        </p>
      </div>
  </div>
  <div class="container">
    <div class="skills">
      <svg id="curve-template" class="tablet"></svg>
      <div class="skills-list">
        <div>
          <h4>Languages</h4>
          <span>Python</span>
          <span>Typescript / Javascript</span>
          <span>HTML</span>
          <span>CSS / SCSS</span>
          <span>C</span>
          <span>GraphQL</span>
        </div>
        <div>
          <h4>Packages</h4>
          <span>React</span>
          <span>NextJS</span>
          <span>React Native</span>
          <span>VueJS</span>
          <span>Redux</span>
          <span>RTK Query</span>
          <span>Django</span>
          <span>Tailwind / Nativewind</span>
          <span>Cypress</span>
        </div>
        <div>
          <h4>Platforms</h4>
          <span>Vercel</span>
          <span>Sitecore</span>
          <span>Optimizely</span>
          <span>Webflow</span>
          <span>AEM Site Manager</span>
        </div>
        <div>
          <h4>Tools</h4>
          <span>Adobe Photoshop</span>
          <span>JIRA / Confluence</span>
          <span>Figma</span>
          <span>NGINX</span>
          <span>Bash</span>
          <span>NodeJS</span>
        </div>
      </div>
    </div>
  </div>

  <div class="container grid bleed">
    <div class="inner">
      <h2>Education</h2>
      <p>
        I've studied computer science continuously from highschool to my first
        position at DT Digital. During that time, I also undertook the following:
      </p>
      <h3>National Computer Science School program at UNSW</h3>
      <h3>Bachelor of Science majoring in Computing and Software Systems (partially completed)</h3>
    </div>
  </div>
    
  <div class="container">
    <h2>My Experience</h2>
    <p>
      I started my professional career in content entry, but quickly rose up
      the ranks to senior front-end developer. It's been quite a journey that
      I'd absolutely love to share.
    </p>
    {% include "root/resume/timeline.html" %}
  </div>


  <div class="hire-me">
    <div class="container">
      <h2>Have an opening?</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque hendrerit
        tempor metus, ut mattis libero maximus iaculis. Donec sed auctor risus. Aenean
        venenatis gravida nisi vitae pulvinar. Ut elementum et quam a dapibus. Vivamus
        dignissim sollicitudin fermentum. Aenean ac tincidunt eros, eget rutrum leo.
        Phasellus vel dui non odio pulvinar tincidunt. Nullam efficitur fringilla
        sollicitudin. Morbi at lacinia nunc.
      </p>
    </div>
    <div class="container">
      <a class="cta primary" href="#">Get in touch!</a>
    </div>
  </div>
{% endblock content %}