<div class="resume">
  <div class="employer">
    <h3 class="employer-name">AKQA</h3>
    <div class="contract-list">
      <div class="contract">
        <div class="right">
          <div class="content">
            <h4>Project 1</h4>
            <p>Lorem ipsum</p>
          </div>	    			
        </div>
        <div class="left">
          <div class="content">
            <strong>2016-2017</strong>
          </div>
        </div>
      </div>
      <div class="contract">
        <div class="right">
          <div class="content">
            <h4>Project 2</h4>
            <p>Lorem ipsum</p>
            <p>Lorem ipsum</p>
            <p>Lorem ipsum</p>
          </div>	    			
        </div>
        <div class="left">
          <div class="content">
            <strong>2016-2017</strong>
          </div>
        </div>
      </div>
      <div class="contract">
        <div class="right">
          <div class="content">
            <p>Lorem ipsum</p>
          </div>	    			
        </div>   
        <div class="left">
          <div class="content">
            <strong>2016-2017</strong>
          </div>
        </div>
      </div>
    </div>	
  </div>
</div>