<div class="container">
  <div class="timeline" data-component="ResumeTimeline">
    {% for employer in employers %}
      <div class="employer">
        <div
          class="mobile employer-title floating-title"
          data-element="ResumeTimeline.floatingTitle"
        >{{ employer.name }}</div>
        <div>
          {% for contract in employer.contracts %}
            {% with start_date=contract.start|date:"Y" end_date=contract.end|date:"Y" %}
              <div class="contract" data-element="ResumeTimeline.contract">
                <div class="title desktop">
                  {% if forloop.first %}
                    <h3 class="employer-title">{{ employer.name }}</h3>
                  {% endif %}
                  <div>
                    {% if start_date == end_date %}
                      <span class="date">{{ start_date }}</span>
                    {% else %}
                      <span class="date">{{ start_date }}</span> - <span class="date">{{ end_date }}</span>
                    {% endif %}
                  </div>
                </div>
                <div class="line" data-element="ResumeTimeline.line">
                  <div class="fill" data-element="ResumeTimeline.fill"></div>
                </div>
                <div class="description js-description">
                  <h4 class="contract-name">{{contract.name}}</h4>
                  <span class="date mobile">
                    {% if start_date == end_date %}
                      <span class="date">{{ start_date }}</span>
                    {% else %}
                      <span class="date">{{ start_date }}</span> - <span class="date">{{ end_date }}</span>
                    {% endif %}
                  </span>
                  {{ contract.description|safe }}
                </div>
              </div>
            {% endwith %}
          {% endfor %}
        </div>
      </div>
    {% endfor %}
  </div>
</div>
