{% extends "root/base.html" %}

{% load static %}

{% block head.styles %}
  <link rel="stylesheet" href="{% static 'root/css/components.css' %}">
{% endblock head.styles %}

{# Body #}
{% block content %}
  <div class="container">
    <h1>All of the stuff I've made (sort of)</h1>
    <p>...Not counting all of the stuff I've made for my job, the stuff I never saved, or the stuff I just haven't uploaded to this site yet.</p>
  </div>
  <div class="container">
    {% include "root/projects/list.html" %}
  </div>
{% endblock content %}