{% extends "root/base.html" %}

{% block content %}
  <div class="hero hero-landing">
    <div class="inner">
    {% include "root/breadcrumb.html" %}
      <h1>All the stuff I've made</h1>
      <p>...Not counting all of the stuff I've made for my job, the stuff I never saved, or the stuff I just haven't uploaded to this site yet.</p>
    </div>
  </div>
  <div class="container">
    <div class="project-grid">
      {% for project in projects %}
        {% include "root/project/crosslink.html" %}
      {% endfor %}
    </div>    
  </div>
{% endblock content %}