<div class="card-grid">
  {% for project in projects %}
    <a class="card" href="{% url "root.project" project.article.slug %}">
      <div class="image">
        <div class="mock-placeholder"></div>
      </div>
      <div class="details">
        <h3 class="name">
          {{ project.title }}
        </h3>
        <p class="description">
          {{ project.blurb }}
        </p>
        <div class="read-more">
          + Read more
        </div>
      </div>
    </a>
  {% endfor %}
</div>
