<div class="project-grid">
  {% for project in projects %}
    <a class="card" href="{% url "root.project" project.slug %}" data-snap="true">
      {% if project.thumbnail %}
        <div class="image">
          <img src="{{ MEDIA_URL }}{{ project.thumbnail }}" alt="">
        </div>
      {% endif %}
      <div class="details">
        <h3 class="name">
          {{ project.title }}
        </h3>
        <p class="description">
          {{ project.blurb }}
        </p>
        <div class="read-more">
          + Read more
        </div>
      </div>
    </a>
  {% endfor %}
</div>
