:root {
  --black: #222;
  --grey: #bbb;
  --white: #fff;
  --hover: #ececec;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Nunito';
  padding-inline: 8px;
  color: var(--black);
}

h1, h2, h3, h4 {
  font-family: 'Ledger';
}

.recommendation {
  display: grid;
  grid-template-columns: 1fr;
  margin-top: 64px;

  @media (--desktop) {
    grid-template-columns: 1fr 3fr;
    gap: 64px 16px;
  }
}

.meal-name {
  display: block;
  position: relative;
  text-align: center;

  h2 {
    display: inline-block;
    position: relative;
    padding-inline: 8px;
    background: var(--white);
  }

  @media (--desktop) {
    border-top: 2px solid var(--black);
  }

  @media (--until-desktop) {
    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 0;
      height: 2px;
      width: 100%;
      background: var(--black);
    }
  }
}

.restaurants {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

.restaurant {
  display: grid;
  grid-template:
    "title attributes" 
    "cuisine cuisine"
    "blurb blurb" 
    "cta cta" / 1fr auto;
  gap: 8px;

  padding: 8px;
  border: 1px solid;
  border-radius: 4px;

  h3 {
    grid-area: title;
    margin: 0;

    font-size: 1.4em;
    font-weight: 200;
  }

  .attributes {
    grid-area: attributes;
  
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 4px;
    
    & > * {
      width: 20px;
      flex-shrink: 0;
    }

    svg {
      max-width: 100%;
    }
  }
  
  p {
    margin: 0;

    &.cuisine {
      grid-area: cuisine;
      text-transform: uppercase;
      font-family: 'Ledger';
      font-size: 0.75em;
      color: var(--grey)
    }

    &.blurb {
      grid-area: blurb;
      margin-top: .5rem;
      font-weight: 200;
    }

  }

  a {
    grid-area: cta;

    width: 100%;
    margin-top: 4px;
    padding: 4px;
    border: 1px dotted;
    border-radius: 4px;

    text-align: center;
    text-decoration: none;
    color: inherit;

    &:hover {
      background-color: var(--hover);
    }
  }
}

svg {
  .optional & {
    fill: var(--grey);
  }
  .required & {
    fill: var(--black);
  }
}
