@import "external/prism.scss";

/* Additional styles for Prism */
code[class*="language-"], pre[class*="language-"] {
  background-color: transparent;
  border: none;
}

.language-css .token.string, .style .token.string, .token.entity, .token.operator, .token.url {
  background: none;
}

.draft-banner {
  display: flex;
  gap: var(--spacing-md);
  margin-bottom: var(--spacing-md);

  hr {
    flex-grow: 1;
  }
}

.rich-content {
  a {
    font-weight: normal;
    text-decoration: underline dotted var(--color-accent) 2px;
  }
}