/* --- Global Styles --- */
* {
  box-sizing: border-box;
}

:root {
  --spacing-xs: .5em;
  --spacing-sm: 1rem;
  --spacing-md: 2rem;

  --shadow-md: 0 0 8px -4px;

  --font-heading: "Andada Pro", "Times New Roman", Times, serif;
  --font-body: "Montserrat", Geneva, Verdana, sans-serif;
  --font-color-primary: #383838;
}

body {
  display: flex;
  flex-direction: column;

  min-height: 100vh;
  margin: 0;
  padding: 0 var(--spacing-sm);

  font-family: var(--font-body);
  color: var(--font-color-primary);

  background-image: url(/static/assets/img/dots.png);
  background-size: 200px;
}

.main-content {
  flex-grow: 1;

  margin: 0 auto;
  padding: 0 var(--spacing-sm);
  border-left: 1px solid black;
  border-right: 1px solid black;

  width: 100%;
  max-width: 75rem;

  box-shadow: var(--shadow-md);
  background-color: white;
}

@media screen and (min-width: 640px) {
  .main-content {
    padding: 0 var(--spacing-md);
  }
}


/* --- Global Utility Classes --- */
.container {
  margin: var(--spacing-md) auto 0 auto;
  max-width: 50rem;
}

/* --- Header Styles --- */
.header {
  display: flex;
  flex-direction: column;
  font-family: var(--font-heading);
}

.header .title {
  margin: var(--spacing-sm) 0;
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
}

.header .primary-nav {
  display: flex;
  justify-content: center;

  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.header .primary-nav ul {
  display: grid;
  grid-auto-flow: column;
  grid-column-gap: var(--spacing-sm);

  margin: 0;
  padding: 0;
}

.header .primary-nav li {
  display: inline-block;
}

.header .primary-nav li a {
  position: relative;
  display: inline-block;

  width: 100%;
  padding: var(--spacing-sm) var(--spacing-xs);

  color: black;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
}

.header .primary-nav li a::after {
  content: none;
  position: absolute;

  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  border-radius: 999px;
  overflow: hidden;
  background-color: black;
}

.header .primary-nav li a:hover::after,
.header .primary-nav li a:focus::after {
  content: "";
}
