/* --- Global Styles --- */
* {
  box-sizing: border-box;
}

:root {
  --spacing-xs: .5rem;
  --spacing-sm: 1rem;
  --spacing-md: 2rem;
  --spacing-lg: 4rem;

  --shadow-md: 0 0 8px -4px;

  --rounded-sm: .5rem;
  --rounded-full: 9999px;

  --font-heading: "Andada Pro", "Times New Roman", Times, serif;
  --font-body: "Montserrat", Geneva, Verdana, sans-serif;

  --font-color-primary: #383838;
  --color-font-secondary: #00316f;
}

body {
  display: flex;
  flex-direction: column;

  min-height: 100vh;
  margin: 0;
  padding: 0 var(--spacing-sm);

  font-family: var(--font-body);
  color: var(--font-color-primary);

  background-image: url(/static/assets/img/dots.png);
  background-size: 200px;
}

h1, h2, h3, h4, h5, h6, .header {
  font-family: var(--font-heading);
  color: var(--color-font-secondary);
}

/* --- Global Utility Classes --- */
.main-content {
  flex-grow: 1;

  margin: 0 auto;
  padding: 0 var(--spacing-sm);
  border-left: 1px solid black;
  border-right: 1px solid black;

  width: 100%;
  max-width: 75rem;

  box-shadow: var(--shadow-md);
  background-color: white;
}

@media screen and (min-width: 640px) {
  .main-content {
    padding: 0 var(--spacing-md);
  }
}

.container {
  margin: var(--spacing-md) auto 0 auto;
  max-width: 50rem;
}

.section-header {
  display: block;
  margin-top: var(--spacing-md);
  margin-bottom: var(--spacing-md);
}

@media screen and (min-width: 640px) {
  .section-header {
    margin-top: var(--spacing-lg);
  }
}


/* --- Header Styles --- */
.header {
  display: flex;
  flex-direction: column;
  font-family: var(--font-heading);
}

.header .title {
  margin: var(--spacing-md) auto;
  width: 80%;
  max-width: 400px;
}

.header .title > svg {
  width: 100%;
  fill: var(--color-font-secondary);
}

.header .primary-nav {
  display: flex;
  justify-content: center;

  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.header .primary-nav ul {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  grid-column-gap: var(--spacing-sm);

  margin: 0;
  padding: 0;
}

.header .primary-nav li {
  display: inline-block;
}

.header .primary-nav li a {
  position: relative;
  display: inline-block;

  width: 100%;
  padding: var(--spacing-sm) var(--spacing-xs);
  border-top: 2px solid transparent;

  color: black;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
}

.header .primary-nav li a.active {
  border-top-color: black;
}

.header .primary-nav li a::after {
  content: none;
  position: absolute;

  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  border-radius: var(--rounded-full);
  overflow: hidden;
  background-color: black;
}

.header .primary-nav li a:hover::after,
.header .primary-nav li a:focus::after {
  content: "";
}
