.accordion {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-md);

  &-controls {
    padding-left: var(--spacing-sm);

    // Note this assumes only 2 items. Add a helper class to enable this if we ever need more
    @media (--desktop) {
      display: flex;
      justify-content: space-between;
    }
  }

  &-toggle {
    position: relative;
    opacity: 0.4;
    user-select: none;

    &:hover,
    &:focus,
    &[aria-expanded="true"] {
      opacity: 1;
    }

    h2 {
      margin: 0;
      text-align: left;
    }

    // Place chevron before active button text
    &[aria-expanded="true"] h2::before {
      content: ">" / "";
      position: absolute;

      right: 100%;
      padding-right: var(--spacing-xs);

      color: var(--color-accent);
    }
  }

  &-content {
    position: relative;
  }

  &-item {
    transition: opacity var(--duration-medium) linear calc(0.75 * var(--duration-medium));

    &.transitioning {
      position: absolute;
      width: 100%;

      &::after {
        content: "";
        position: absolute;
        inset: 0;

        background: var(--color-white);
        opacity: 0;
        z-index: 1;

        mask-image: url("/static/www/assets/fade-mask.png");
        mask-mode: luminance;
        transition:
          opacity var(--duration-medium) linear;
      }
    }

    &.inactive {
      opacity: 0;

      &::after {
        opacity: 1;
      }
    }
  }
}