.accordion {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-md);

  &-controls {
    padding-left: var(--spacing-sm);

    // Note this assumes only 2 items. Add a helper class to enable this if we ever need more
    @media (--desktop) {
      display: flex;
      justify-content: space-between;
    }
  }

  &-toggle {
    position: relative;
    opacity: 0.4;
    user-select: none;

    &:hover,
    &:focus,
    &[aria-expanded="true"] {
      opacity: 1;
    }

    h2 {
      margin: 0;
      text-align: left;
    }

    // Place chevron before active button text
    &[aria-expanded="true"] h2::before {
      content: ">" / "";
      position: absolute;

      right: 100%;
      padding-right: var(--spacing-xs);

      color: var(--color-accent);
    }
  }

  &-content {
    position: relative;
  }

  &-item {
    mask-image: linear-gradient(to right, black 50%, white 50%);
    mask-size: 200%;
    mask-mode: luminance;
    mask-position: -100%;

    &.transitioning {
      position: absolute;
      width: 100%;
    }
  }
}