.accordion {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-md);

  &-controls {
    padding-left: var(--spacing-sm);
  }

  &-toggle {
    position: relative;
    opacity: 0.4;
    user-select: none;

    &:hover,
    &:focus,
    &[aria-expanded="true"] {
      opacity: 1;
    }

    h2 {
      margin: 0;
      text-align: left;
    }

    // Place chevron before active button text
    &[aria-expanded="true"] h2::before {
      content: ">" / "";
      position: absolute;

      right: 100%;
      padding-right: var(--spacing-xs);

      color: var(--color-accent);
    }
  }

  &-content {
    position: relative;
  }

  &-item {
    &.transitioning {
      position: absolute;
      width: 100%;

      &.hidden {
        pointer-events: none;
      }
    }

    &.hidden {
      opacity: 0;
    }
  }
}