.timeline {
  --timeline-width: var(--line-width);
  --faded-content-opacity: 0.4;
  --faded-timeline-opacity: 0.15;

  h3, h4 {
    margin: 0;
  }

  & > :first-child .timeline-contract:first-child .timeline-details {
    border-top: none;
  }

  &-contract {
    display: flex;

    &:first-child {
      .timeline-details {
        border-top-style: none;

        @media (--large) {
          border-top-style: solid;
        }
      }
    }

    &.passed {
      .timeline-summary {
        opacity: var(--faded-content-opacity);
      }

      .timeline-line::before {
        width: 0;
        border-color: transparent;
        background-color: transparent;
      }
      
      .timeline-details {
        opacity: var(--faded-content-opacity);
      }
    }
  }

  &-summary {
    position: sticky;
    display: flex;
    align-items: center;

    top: 0;
    min-height: 4.21rem;
    max-width: calc(100% - 3rem + var(--spacing-sm));

    background-color: var(--color-white);
    z-index: var(--z-floating);
    transition: box-shadow var(--duration-short);
    
    @media (--desktop) {
      top: var(--nav-height);
      max-width: none;
    }

    @media (--large) {
      display: block;
      position: static;
      flex-basis: 30%;
      max-width: none;
      padding: var(--spacing-lg) var(--spacing-md);
      background-color: transparent;
    }
    
    &.floating {
      margin-inline: calc(-1 * var(--spacing-sm));
      padding-inline: var(--spacing-sm);
      border-bottom: 1px solid var(--color-primary);
    }
  }

  &-line {
    position: relative;
    flex-basis: var(--timeline-width);

    &::before {
      content: "";
      position: absolute;

      border: var(--line-width) solid var(--color-accent);
      border-radius: var(--rounded-full);
      outline: 2px solid var(--color-white);

      top: 50%;
      // TODO: Fix px alignment hack
      left: 1px;
      height: 6px;
      width: 6px;

      background-color: var(--color-white);
      z-index: 1;

      transform: translateX(-50%);
      transition: background-color var(--duration-short), border-color var(--duration-short), width var(--duration-short);

      @media (--large) {
        top: calc(var(--spacing-lg) + .25rem);
      }
    }

    &::after {
      content: "";
      position: absolute;
      inset: 0;
      border-radius: var(--rounded-full);
      overflow: hidden;

      border-left: var(--timeline-width) dashed rgb(from var(--color-primary) r g b / var(--faded-timeline-opacity));
    }
    
    
    &-fill {
      position: absolute;
      border-radius: var(--rounded-full);
      overflow: hidden;
      inset: 0;
      background: var(--color-primary);
    }
  }

  &-details {
    flex: 1 1 0;

    padding-inline: var(--spacing-md);
    padding-block: var(--spacing-lg);
    border-top: 1px dashed var(--color-black);
  }
}
