{% load svg %}

<a class="project{% if project.is_featured %} featured{% endif %}" href="{% url "www.project" project.slug %}" data-snap>
  {% if project.thumbnail %}
    {% if project.thumbnail.path|slice:"-3:" == "svg" %}
      {{ project.thumbnail|svg:"image-container" }}
    {% else %}
      <div class="image-container" style="background-image: url({{ MEDIA_URL }}{{ project.thumbnail }});"></div>
    {% endif %}
  {% endif %}
  <div class="details">
    <div class="title">
      <h3 class="name">
        {{ project.title }}
      </h3>
    </div>
    <p class="description">
      {{ project.blurb }}
    </p>
    <div class="read-more">
      + Read more
    </div>
  </div>
</a>