{% extends "www/base.html" %}

{% load static %}
{% load rich_content %}

{% block head.title %}{{ project.title }}{% endblock head.title %}

{% block head.opengraph %}
  <meta property="og:title" content="{{ project.title }} - Raymond Lewandowski">
  <meta property="og:description" content="{{ project.article.content|rich_preview:20 }}">
  <meta property="og:type" content="article">
  <meta property="og:article:author" content="Raymond Lewandowski">
  <meta property="og:image" content="{% if project.hero %}{{ MEDIA_URL }}{{ project.hero }}{% else %}{% static "www/assets/page-default.png" %}{% endif %}">
  <meta property="og:url" content="{{ request.build_absolute_uri }}">
{% endblock head.opengraph %}

{% block head.styles %}
  <link rel="stylesheet" type="text/css" href="{% static "www/css/article.min.css" %}">
  <script src="{% static "www/js/prism.min.js" %}"></script>
{% endblock head.styles %}

{% block content %}
  <div class="hero hero-project">
    <div class="inner">
      <div class="title">
        {% include "www/breadcrumb.html" %}
        <h1>{{ project.title }}</h1>
      </div>

      {% if project.hero %}
        {# @TODO: Alt text #}
        <img src="{{ MEDIA_URL }}{{ project.hero }}" alt="" class="image">
      {% endif %}

      {% if project.project_url %}
        <div class="cta-container">
          <a class="cta primary" href="{{ project.project_url }}" target="_blank">View project</a>
          <a class="cta secondary" href="{{ project.source_url }}" target="_blank">View source</a>
        </div>
      {% else %}
        <a class="cta primary" href="{{ project.source_url }}" target="_blank">View source</a>
      {% endif %}
    </div>
  </div>
  <div class="container rich-content">
    {{project.article.content|safe}}
  </div>
  {% include "www/disclaimer.html" with article=project.article %}
{% endblock content %}