{% load static %}

<!DOCTYPE html>
<html lang="en-AU">
<head>
  {# General Metadata#}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% block head.meta %}{% endblock head.meta %}
  {% block head.opengraph %}
    <meta property="og:title" content="{{ meta.current.name|default:"Page" }} - Raymond Lewandowski">
    <meta property="og:type" content="website">
    <meta property="og:image" content="{% static "www/assets/page-default.png" %}">
    <meta property="og:url" content="{{ request.build_absolute_uri }}">
  {% endblock head.opengraph %}


  {# Stylesheets #}
  <link rel="preload" href="{% static 'www/css/main.min.css' %}" as="style">
  <link rel="stylesheet" href="{% static 'www/css/main.min.css' %}">
  {% block head.styles %}{% endblock head.styles %}

  {# Javascript #}
  <script src="{% static "www/js/main.min.js" %}"></script>

  {# Title #}
  <title>{% block head.title %} {{ meta.current.name|default:"Page" }} {% endblock head.title %} | Raymond Lewandowski</title>
</head>

<body class="layout-container line-numbers match-braces no-brace-select">
  <div class="layout-navigation">
    {% include "www/header.html" %}
  </div>
  <main class="layout-content" role="main">
    {% block content%}{% endblock content %}
  </main>
</body>
</html>