{% extends "melbourne/base.html" %}

{% load static %}

{% block content %}
  <h1>Restaurant Recommendations</h1>

  <div class="recommendations">
    {% for meal, restaurants in meals.items %}
      <div class="recommendation">
        <div class="meal-name">
          <h2>{{meal}}</h2>
        </div>
        
        <div class="restaurants">
          {% for restaurant in restaurants %}
            <div class="restaurant">
              <h3>{{ restaurant.name }}</h3>

              <div class="attributes">
                {% if restaurant.wait_type != WaitTypes.NONE %}
                  <div class="wait">
                    {% if restaurant.wait_type == WaitTypes.WAIT_EXPECTED %}
                      <span class="required" title="Wait expected">
                        {% include "melbourne/icons/timer-short.svg" %}
                      </span>
                    {% elif restaurant.wait_type == WaitTypes.LONG_WAIT_EXPECTED %}
                      <span class="required" title="Long wait expected">
                        {% include "melbourne/icons/timer-long.svg" %}
                      </span>
                    {% elif restaurant.wait_type == WaitTypes.BOOKING_RECOMMENDED %}
                      <span class="optional" title="Booking recommended">
                        {% include "melbourne/icons/calendar.svg" %}
                      </span>
                    {% elif restaurant.wait_type == WaitTypes.BOOKING_REQUIRED %}
                      <span class="required" title="Booking required">
                        {% include "melbourne/icons/calendar.svg" %}
                      </span>  
                    {% endif %}
                  </div>
                {% endif %}

                {% if restaurant.is_favorite %}
                  <div class="must-visit" title="Must visit">
                    {% include "melbourne/icons/star.svg" %}
                  </div>
                {% endif %}
              </div>

              <p class="cuisine">{{ restaurant.cuisine }}</p>

              <p class="blurb">{{ restaurant.blurb }}</p>

              <a href="#">Visit site</a>
            </div>
          {% endfor %}
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock content %}