{% load static %}
<!DOCTYPE html>
<html lang="en-AU">
<head>
  {# General Metadata#}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  {# Stylesheets #}
  <link rel="preload" href="{% static 'root/css/main.min.css' %}" as="style">
  <link rel="stylesheet" href="{% static 'root/css/main.min.css' %}">
  {% block head.styles %}
  {% endblock head.styles %}


  {# Javascript #}
  <script src="{% static "root/js/main.min.js" %}"></script>

  {# Title #}
  <title>{% block head.title %} {{ meta.current.display_name|default:"Page" }} {% endblock head.title %} | Raymond Lewandowski</title>
</head>

<body class="layout-container line-numbers match-braces no-brace-select">
  <div class="nav-content">
    {% include "root/header.html" %}
  </div>
  <div class="main-content">
    {% block content%}{% endblock content %}
  </div>
</body>
</html>