{% load static %}
<!DOCTYPE html>
<html lang="en-AU">
<head>
  {# General Metadata#}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  {# Stylesheets #}
  {% block head.styles %}
    <link rel="preload" href="{% static 'root/css/base.min.css' %}" as="style">
    <link rel="stylesheet" href="{% static 'root/css/base.min.css' %}">
  {% endblock head.styles %}


  {# Javascript #}
  <script src="{% static "root/js/main.min.js" %}"></script>

  {# Title #}
  <title>{% block head.title %} {{ meta.current.display_name|default:"Page" }} {% endblock head.title %} | Moeka Kiryu</title>
</head>

<body class="line-numbers match-braces no-brace-select">
  
  <div class="main-content">
    <div class="floating">
      {% include "root/header.html" %}
    </div>
    <div class="fixed">
      {% block content%}{% endblock content %}
    </div>
  </div>
</body>
</html>