{% load static %}
<!DOCTYPE html>
<html>
<head>
  {# General Metadata#}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  {# Stylesheets #}
  <link rel="preload" href="{% static 'root/css/base.min.css' %}" as="style">
  <link rel="preload" href="{% static 'root/assets/dots.png' %}" as="image">
  <link rel="stylesheet" href="{% static 'root/css/base.min.css' %}">

  {% block head.styles %}{% endblock head.styles %}

  {# Typography #}
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

  {# Javascript #}
  <script type="text/javascript" src="{% static "root/js/base.js" %}"></script>

  {# Title #}
  <title>{% block head.title %}{% endblock head.title %}</title>
</head>

<body class="line-numbers match-braces no-brace-select">
  
  <div class="main-content">
    <div class="section">
      {% include "root/header.html" %}
    </div>
    <div class="section">
      <div class="panel">
        <div class="inner">
          {% block content%}{% endblock content %}
        </div>
      </div>
    </div>
  </div>
</body>
</html>