{% with breadcrumb=meta.breadcrumb %}
<div class="header">
  <div class="inner">
    <a class="home-link" href="/" aria-label="Go Home" {% if meta.current.is_home %}aria-current="page"{% endif %}>
      <span class="desktop">{% include "root/icons/logo.svg" %}</span>
      <span class="mobile">
        {% if meta.current.is_home %}
          {% include "root/icons/logo.svg" %}
        {% else %}
          {% include "root/icons/logo-small.svg" %}
        {% endif %}
      </span>
    </a>
  </div>
</div>
{% endwith %}
