{% load static %}
<div class="header">
  <div class="content">
    <div class="title">
      <a href="{% url "root.home" %}" aria-label="Go Home">
        {% include "root/icons/logo.svg" %}
      </a>
    </div>
    <nav class="primary-nav" role="navigation" aria-label="Main Menu">
      <button class="hamburger" aria-label="Open menu" aria-expanded="false">
        {% include "root/icons/hamburger.svg" %}
      </button>
      <div class="splash">
        <ul>
          <li>
            <a class="inverted" href="{% url "root.sandbox" %}">Projects</a>
          </li>
          <li>
            <a class="inverted" href="{% url "root.sandbox" %}">Articles</a>
          </li>
          <li>
            <a class="inverted" href="{% url "root.sandbox" %}">Hire me!</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</div>