{% extends "root/base.html" %}

{% load static %}

{% block head.title %}{{ article.title }}{% endblock head.title %}

{% block head.styles %}
  <link rel="preload" href="{% static 'root/css/article.min.css' %}" as="style">
  <link rel="stylesheet" type="text/css" href="{% static "root/css/article.min.css" %}">
  <script src="{% static "root/js/prism.min.js" %}"></script>
{% endblock head.styles %}

{% block content %}
  <div class="hero">
    <div class="inner">
      {% include "root/breadcrumb.html" %}
      <h1>{{ article.title }}</h1>
    </div>
  </div>
  <div class="container">
    {{ article.content|safe }}
  </div>
{% endblock content %}