{% extends "www/base.html" %}

{% load static %}

{% block head.styles %}
  <link rel="preload" href="{% static 'www/css/resume.min.css' %}" as="style">
  <link rel="stylesheet" type="text/css" href="{% static "www/css/resume.min.css" %}">
{% endblock head.styles %}

{% block content %}
  <div class="hero hero-landing">
    <div class="inner">
      <h1>Professional Experience</h1>
      <p>
        I've been working in web development for ~10 years, and have been
        programming in some capacity for 5 years beyond that.
      </p>
    </div>
  </div>
  <div class="container">
    <h2>Toolkit</h2>
    <p style="max-width: 300px;">
      I love working with 'bare' technology. Whether this be low-level
      programming or working with vanilla languages. However over the course
      of my career I've been fortunate enough to work with quite a few
      frameworks and architectures as well.
    </p>
  </div>
  <div class="container">
    <div class="skills">
      <div class="skills-list">
        <div class="skill">
          {% include "www/icons/language.svg" %}
          <h4>Languages</h4>
          <span>Python</span>
          <span>Typescript</span>
          <span>Javascript</span>
          <span>HTML</span>
          <span>CSS / SCSS</span>
          <span>C</span>
        </div>
        <div class="skill">
          {% include "www/icons/package.svg" %}
          <h4>Packages</h4>
          <span>React</span>
          <span>NextJS</span>
          <span>React Native</span>
          <span>VueJS</span>
          <span>Redux</span>
          <span>RTK Query</span>
          <span>Django</span>
          <span>Tailwind</span>
          <span>Nativewind</span>
          <span>Cypress</span>
        </div>
        <div class="skill">
          {% include "www/icons/platform.svg" %}
          <h4>Platforms</h4>
          <span>Vercel</span>
          <span>Sitecore</span>
          <span>Optimizely</span>
          <span>Webflow</span>
          <span>AEM Site Manager</span>
        </div>
        <div class="skill">
          {% include "www/icons/tools.svg" %}
          <h4>Tools</h4>
          <span>Adobe Photoshop</span>
          <span>JIRA</span>
          <span>Confluence</span>
          <span>Figma</span>
          <span>NGINX</span>
          <span>Bash</span>
          <span>NodeJS</span>
          <span>Self-described git guru</span>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <h2>Experience</h2>
    <p style="max-width: 300px;">
      I started my professional career in content entry, but quickly rose up
      the ranks to senior front-end developer. It's been quite a journey that
      I'd absolutely love to share.
    </p>
  </div>
  <div class="container">
    {% include "www/resume/timeline.html" %}
  </div>


  <div class="hire-me">
    <div class="container">
      <h2>Have an opening?</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque hendrerit
        tempor metus, ut mattis libero maximus iaculis. Donec sed auctor risus. Aenean
        venenatis gravida nisi vitae pulvinar. Ut elementum et quam a dapibus. Vivamus
        dignissim sollicitudin fermentum. Aenean ac tincidunt eros, eget rutrum leo.
        Phasellus vel dui non odio pulvinar tincidunt. Nullam efficitur fringilla
        sollicitudin. Morbi at lacinia nunc.
      </p>
    </div>
    <div class="container">
      <a class="cta primary" href="#">Get in touch!</a>
    </div>
  </div>
{% endblock content %}