<a class="crosslink{% if project.is_featured %} featured{% endif %}" href="{% url "root.project" project.slug %}" data-snap>
  {% if project.thumbnail %}
    <div class="image-container" style="background-image: url({{ MEDIA_URL }}{{ project.thumbnail }});"></div>
  {% endif %}
  <div class="entry">
    <h3 class="name">
      {{ project.title }}
    </h3>
    <div class="details">
      <p class="description">
        {{ project.blurb }}
      </p>
      <div class="read-more">
        + Read more
      </div>
    </div>
  </div>
</a>