{% extends "www/base.html" %}

{% load static %}
{% load rich_content %}

{% block head.title %}{{ article.title }}{% endblock head.title %}

{% block head.opengraph %}
  <meta property="og:title" content="{{ article.title }} - Raymond Lewandowski">
  <meta property="og:description" content="{{ article.content|rich_preview:20 }}">
  <meta property="og:type" content="article">

  <meta property="og:article:author" content="Raymond Lewandowski">
  <meta property="og:article:published_time" content="{{ article.created|date:'Y-m-d' }}">
  <meta property="og:article:modified_time" content="{{ article.updated|date:'Y-m-d' }}">

  <meta property="og:image" content="{% static "www/assets/page-default.png" %}">
  <meta property="og:url" content="{{ request.build_absolute_uri }}">
{% endblock head.opengraph %}

{% block head.styles %}
  <link rel="preload" href="{% static 'www/css/article.min.css' %}" as="style">
  <link rel="stylesheet" type="text/css" href="{% static "www/css/article.min.css" %}">
  <script src="{% static "www/js/prism.min.js" %}"></script>
{% endblock head.styles %}

{% block content %}
  <div class="hero hero-text">
    <div class="inner">
      {% include "www/breadcrumb.html" %}
      <h1>{{ article.title }}</h1>
    </div>
  </div>
  {% if article.is_draft %}
    {% include "www/article/draft-banner.html" %}
  {% endif %}
  <div class="container">
    {{ article.content|safe }}
  </div>
  {% include "www/disclaimer.html" %}
{% endblock content %}