.article {
  display: block;

  border-top: 1px dashed var(--color-primary);
  padding: var(--spacing-md) 0;

  font-weight: normal;
  color: var(--font-color-primary);

  @media (--desktop) {
    padding: var(--spacing-sm) 0;
  }

  &:last-child {
    border-bottom: 1px dashed var(--color-primary);
  }

  &:hover,
  &:focus {
    color: var(--font-color-primary);

    .read-more {
      color: var(--font-color-link-hover);
    }
  }

  &-container {
    @at-root {
      display: flex;
      flex-direction: column;
    }
  }

  .name {
    display: inline-block;
    margin: 0;
  }

  .date {
    margin-top: var(--spacing-xs);
    font-style: italic;

    @media (--desktop) {
      display: inline-block;
  
      &::before {
        content: "|";
        padding: 0 var(--spacing-xs);
        font-style: normal;
      }
    }
  }

  .details {
    @media (--desktop) {
      padding-left: var(--spacing-sm);
    }
  }

  .description {
    margin: 0;
    font-size: 0.875rem;
  }

  .read-more {
    margin-top: var(--spacing-sm);
    font-weight: bold;
  }
}