.breadcrumb {
  display: flex;
  align-items: baseline;

  font-family: var(--font-heading );
  font-weight: bold;
  font-size: 1.5rem;

  @media (--large) {
    padding: var(--spacing-xs) var(--spacing-sm);
    font-size: 2.2rem;
  }

  span {
    display: inline-block;
  }

  .name {
    padding-left: 8px;
  }
}

div.breadcrumb {
  color: var(--font-color-primary);
  font-weight: normal;

  svg {
    fill: var(--font-color-primary);
  }
}

a.breadcrumb {
  color: var(--font-color-secondary);
  font-weight: normal;

  @media (--large) {
    font-weight: bold;
  }

  &:hover,
  &:focus {
    color: var(--font-color-link-hover)
  }
}

.icon-logo-small {
  max-width: 90px;
}

.icon-logo {
  max-width: 240px;

  @media (--large) {
    max-width: none;
  }
}

.icon-elbow,
.icon-elbow-light {
  width: 2rem;
}