.cta {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: var(--spacing-sm);
  border-radius: var(--rounded-sm);

  font-weight: bold;
  text-decoration: none;
  text-align: center;

  user-select: none;
  cursor: pointer;

  &.primary {
    border: var(--line-width) solid var(--color-primary);
    background-color: var(--color-white);
    color: var(--color-primary);

    &:hover,
    &:focus {
      border-color: var(--color-accent);
      color: var(--color-accent);
    }
    
    .cta-container > & {
      flex-grow: 1;
    }
  }

  &.secondary {
    color: var(--color-primary);
    flex-grow: 0;

    &:hover,
    &:focus {
      color: var(--color-accent);
    }
  }
}
