/* For content on long-form article/project pages */

.breadcrumb {
  display: inline-block;
  margin-bottom: var(--spacing-xs);
  color: var(--color-accent);
}

.hire-me {
  min-height: calc(100vh - var(--top-offset) - 3rem);
}