.project-list {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  gap: var(--spacing-xs);
}

.project-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--spacing-sm);

  @media (--desktop) {
    grid-template-columns: 1fr 1fr;
  }
}

.header-with-cta {
  display: flex;
  align-items: center;
  justify-content: space-between;

  h2, h3, h4, h5, h6 {
    margin: var(--spacing-xs) 0;
  }

  .cta {
    margin: 0;
  }
}
