.timeline {
  --top-offset: 5rem;
  --timeline-width: 3px;

  @media (--large) {
    --top-offset: var(--spacing-md);
  }

  h3, h4 {
    margin: 0;
  }

  .contract {
    display: flex;

    &.passed {
      color: var(--color-greyscale-extra-light);

      .title {
          .employer-title {
          color: var(--color-greyscale-light);
        }
      }

      .description {
        border-color: var(--color-greyscale-extra-light);

        &::before {
          background-color: var(--color-white);
          border-color: var(--color-greyscale-faded);
        }
      }
    }

    .title {
      flex: 0 0 40%;
      padding: var(--spacing-sm) var(--spacing-md);

      @media (--desktop) {
        flex-basis: 25%;
      }

      .employer-title {
        font-family: var(--font-heading);
        font-size: 1.2rem;
        color: var(--color-terminal-blue);
        word-break: break-word;
      }

      .date {
        display: inline-block;
      }
    }

    .line {
      flex: 0 0 var(--timeline-width);
      position: relative;

      border-radius: var(--rounded-full);
      overflow: hidden;
        
      &::before {
        content: "";
        position: absolute;
        inset: 0;
        border-left: var(--timeline-width) dashed var(--color-greyscale-faded);
      }
      
      
      .fill {
        position: absolute;
        inset: 0;
        background: var(--color-terminal-blue);
      }
    }

    .description {
      flex: 0 1 60%;
      position: relative;

      padding: var(--spacing-sm) var(--spacing-md);
      border-top: 1px dashed var(--color-black);

      @media (--desktop) {
        flex-basis: 75%;
      }

      &::before {
        content: "";
        position: absolute;

        border: var(--timeline-width) solid var(--color-terminal-blue);
        border-radius: var(--rounded-full);

        left: calc(-1.5*var(--timeline-width) - 3px);
        height: 6px;
        width: 6px;

        background-color: var(--color-terminal-blue);

        transition: border-color var(--duration-standard), background-color var(--color-greyscale-faded);
      }

      .contract-name {
        font-size: 1.2rem;
      }
    }

  }

  .contract:first-child .description {
    border-top-style: solid;
  }

  .employer:first-child .contract:first-child .description {
    border-top: none;
  }
}