.timeline {
  // TODO: Fix name clash with global variables
  --top-offset: 5rem;
  --timeline-width: var(--line-width);
  --faded-content-opacity: 0.4;
  --faded-timeline-opacity: 0.15;

  @media (--large) {
    --top-offset: var(--spacing-md);
  }

  h3, h4 {
    margin: 0;
  }

  .floating-title {
    position: sticky;

    padding: var(--spacing-sm) 0 var(--spacing-xs) 0;
    top: 4.2rem;
    
    background: var(--color-white);
    z-index: 1;
    transition: box-shadow .25s;
    
    &.floating {
      box-shadow: 0px 5px 8px -8px var(--color-black);
    }
  }

  .employer-title {
    font-family: var(--font-heading);
    font-size: 1.3rem;
    color: var(--color-primary);
    word-break: break-word;
    font-weight: bold;
  }

  .contract {
    display: flex;

    &.passed {
      .title {
        opacity: var(--faded-content-opacity);

        .employer-title {
          color: var(--color-black);
        }
      }

      .description {
        opacity: var(--faded-content-opacity);

        &::before {
          background-color: rgb(from var(--color-primary) r g b / var(--faded-timeline-opacity));
          width: 0;
        }
      }
    }

    .title {
      flex: 0 0 40%;
      padding: var(--spacing-sm) var(--spacing-md);

      @media (--desktop) {
        flex-basis: 25%;
      }

      .date {
        display: inline-block;
      }
    }

    .line {
      flex: 0 0 var(--timeline-width);
      position: relative;

      border-radius: var(--rounded-full);
      overflow: hidden;

      &::before {
        content: "";
        position: absolute;
        inset: 0;
        border-left: var(--timeline-width) dashed rgb(from var(--color-primary) r g b / var(--faded-timeline-opacity));
      }
      
      
      .fill {
        position: absolute;
        inset: 0;
        background: var(--color-primary);
      }
    }

    .description {
      flex: 1 1 60%;
      position: relative;

      padding: var(--spacing-sm) var(--spacing-md);
      border-top: 1px dashed var(--color-black);

      @media (--desktop) {
        flex-basis: 75%;
      }

      &::before {
        content: "";
        position: absolute;

        border-radius: var(--rounded-full);

        left: calc(-0.5 * var(--timeline-width));
        height: 12px;
        width: 12px;

        background-color: var(--color-primary);

        transform: translateX(-50%);
        transition: background-color var(--duration-short), width var(--duration-short);
      }

      .contract-name {
        font-size: 1.2rem;
      }
    }

  }

  .contract:first-child .description {
    border-top-style: none;
    @media (--desktop) {
      border-top-style: solid;
    }
  }

  .employer:first-child .contract:first-child .description {
    border-top: none;
  }
}